<div class="list-group">
  <% @articles.each do |article| %>
    <a href="/<%=article.to_permalink%>" class="list-group-item">
      <h4 class="list-group-item-heading"><%=article.title%></h4>
      <p class="list-group-item-text text-muted"><%=article.summary%></p>
    </a>
  <% end %>
</div>
